# Web framework
Django >= 1.6, < 1.7

# Database migrations
south

# PDF generation
reportlab

# Image handling
Pillow

# Development
coverage
django-debug-toolbar
flake8
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
